<div class="navbar-fixed">
  <nav>
    <div class="whiteboard-control light-blue lighten-2 nav-wrapper">
      <span>
        <a routerLink="/home" class="breadcrumb">My Whiteboards</a>
        <a href="/" class="breadcrumb">LES 2016 - Team A</a>
      </span>
      <ul class="right">
        <li><a class="waves-effect waves-light" (click)="openCreateStickyNoteModal()"><i class="material-icons">add</i></a></li>
        <li><a><i class="material-icons">settings</i></a></li>
      </ul>
    </div>
  </nav>
</div>
<div class="row">
  <div class="col s12 m6 l3" *ngFor="let stickyNote of stickyNotes">
    <div class="card">
      <div class="card-content" [ngStyle]="{'background-color': stickyNote.color}">
        <div class="right-align">
          <a class="waves-effect waves-light" (click)="openEditStickyNoteModal(stickyNote)"><i class="material-icons light-blue-text text-lighten-2">edit</i></a>
          <a class="waves-effect waves-light" (click)="openDeleteStickyNoteModal(stickyNote)"><i class="material-icons light-blue-text text-lighten-2">delete</i></a>
        </div>
        <p>{{stickyNote.lineContent}}</p>
        <p *ngFor="let param of stickyNote.parameters">{{param.name}} {{param.value}}</p>
      </div>
    </div>
  </div>
</div>
<div id="createStickyNoteModal" materialize="modal" [materializeParams]="[{dismissible: false}]" class="modal modal-fixed-footer white">
  <div class="modal-content">
    <h4>Create Sticky Note</h4>
    <form materialize class="col s12">
      <div class="row">
        <div class="col s12 input-field">
          <input id="stickyNoteName" type="text" [(ngModel)]="newStickyNote.lineContent" name="stickyNoteName">
          <label for="stickyNoteName">Name</label>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <a class="waves-effect waves-light btn-flat" (click)="createStickyNote()">Create</a>
    <a class="waves-effect waves-light btn-flat" (click)="closeCreateStickyNoteModal()">Cancel</a>
  </div>
</div>
<div id="editStickyNoteModal" materialize="modal" [materializeParams]="[{dismissible: false}]" class="modal modal-fixed-footer white">
  <div class="modal-content" *ngIf="newStickyNote">
    <h4>Edit Sticky Note</h4>
    <form materialize class="col s12">
      <div class="row">
        <div class="col s12 input-field">
          <input placeholder="{{newStickyNote.lineContent}}" id="stickyNoteName" type="text" [(ngModel)]="newStickyNote.lineContent" name="stickyNoteName">
          <label for="stickyNoteName">Name</label>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <a class="waves-effect waves-light btn-flat" (click)="editStickyNote()">Edit</a>
    <a class="waves-effect waves-light btn-flat" (click)="closeEditStickyNoteModal()">Cancel</a>
  </div>
</div>
<div id="deleteStickyNoteModal" materialize="modal" [materializeParams]="[{dismissible: false}]" class="modal modal-fixed-footer white">
  <div class="modal-content" *ngIf="selectedStickyNote">
    <h4>Delete Sticky Note</h4>
    <p>Are you sure you want to delete sticky note <b>{{selectedStickyNote.lineContent}}</b>?</p>
  </div>
  <div class="modal-footer">
    <a class="waves-effect waves-light btn-flat" (click)="deleteStickyNote()">Delete</a>
    <a class="waves-effect waves-light btn-flat" (click)="closeDeleteStickyNoteModal()">Cancel</a>
  </div>
</div>