<div class="navbar-fixed">
  <nav>
    <div class="whiteboard-control light-blue lighten-2 nav-wrapper">
      <span>
        <a routerLink="/home" class="breadcrumb">My Whiteboards</a>
        <a class="breadcrumb">{{whiteboardContent.whiteboardName}}</a>
      </span>
      <ul class="right">
        <li><a class="waves-effect waves-light" (click)="openCreateStickyNoteModal()"><i class="material-icons">add</i></a></li>
        <li><a><i class="material-icons">settings</i></a></li>
      </ul>
    </div>
  </nav>
</div>
<div class="row">
  <div class="col s12 m6 l3" *ngFor="let group of whiteboardContent.whiteboardGroups">
    <div class="row valign-wrapper">
      <p class="col ">{{group.groupName}}</p>
      <a class="waves-effect waves-light" (click)="openEditGroupNameModal(group.groupID, group.groupName)"><i class="material-icons light-blue-text text-lighten-2">settings</i></a>
      <a class="waves-effect waves-light" (click)="deleteGroup(group.groupID)"><i class="material-icons light-blue-text text-lighten-2">delete</i></a>
    </div>
    <div class="row card" *ngFor="let stickyNote of group.groupStickies">
      <div class="card-content" [ngStyle]="{'background-color': '#' + stickyNote.stickyColor}">
        <div class="right-align">
          <a class="waves-effect waves-light" (click)="openEditStickyNoteModal(stickyNote)"><i class="material-icons black-text">edit</i></a>
          <a class="waves-effect waves-light" (click)="openDeleteStickyNoteModal(stickyNote)"><i class="material-icons black-text">delete</i></a>
        </div>
        <p>{{stickyNote.stickyContent}}</p>
        <p *ngFor="let param of stickyNote.parameters">{{param.name}} {{param.value}}</p>
      </div>
    </div>
  </div>
</div>
<div id="createStickyNoteModal" materialize="modal" [materializeParams]="[{dismissible: false}]" class="modal modal-fixed-footer white">
  <div class="modal-content">
    <h4>Create Sticky Note</h4>
    <form materialize>
      <div class="row">
        <div class="s12 input-field">
          <input id="stickyNoteName" type="text" [(ngModel)]="newStickyNote.stickyContent" name="stickyNoteName">
          <label for="stickyNoteName">Name</label>
        </div>
      </div>
      <div class="row">
        <label>Color</label>
      </div>
      <div class="row">
        <a class="btn-floating btn-colors waves-effect waves-light" *ngFor="let color of stickyNotesColors" [ngStyle]="{'background-color': '#'+color.color}"
          (click)="newStickyNote.stickyColor = color.color">
          <i class="material-icons black-text" *ngIf="newStickyNote.stickyColor === color.color">done</i>
        </a>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <a class="waves-effect waves-light btn-flat" (click)="createStickyNote()">Create</a>
    <a class="waves-effect waves-light btn-flat" (click)="closeCreateStickyNoteModal()">Cancel</a>
  </div>
</div>
<div id="editStickyNoteModal" materialize="modal" [materializeParams]="[{dismissible: false}]" class="modal modal-fixed-footer white">
  <div class="modal-content" *ngIf="newStickyNote">
    <h4>Edit Sticky Note</h4>
    <form materialize>
      <div class="row">
        <div class="s12 input-field">
          <input placeholder="{{newStickyNote.stickyContent}}" id="stickyNoteName" type="text" [(ngModel)]="newStickyNote.stickyContent"
            name="stickyNoteName">
          <label for="stickyNoteName">Name</label>
        </div>
      </div>
      <div class="row">
        <label>Color</label>
      </div>
      <div class="row">
        <a class="btn-floating btn-colors waves-effect waves-light" *ngFor="let color of stickyNotesColors" [ngStyle]="{'background-color': '#'+color.color}"
          (click)="newStickyNote.stickyColor = color.color">
          <i class="material-icons black-text" *ngIf="newStickyNote.stickyColor === color.color">done</i>
        </a>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <a class="waves-effect waves-light btn-flat" (click)="editStickyNote()">Edit</a>
    <a class="waves-effect waves-light btn-flat" (click)="closeEditStickyNoteModal()">Cancel</a>
  </div>
</div>
<div id="deleteStickyNoteModal" materialize="modal" [materializeParams]="[{dismissible: false}]" class="modal modal-fixed-footer white">
  <div class="modal-content" *ngIf="selectedStickyNote">
    <h4>Delete Sticky Note</h4>
    <p>Are you sure you want to delete sticky note <b>{{selectedStickyNote.stickyContent}}</b>?</p>
  </div>
  <div class="modal-footer">
    <a class="waves-effect waves-light btn-flat" (click)="deleteStickyNote()">Delete</a>
    <a class="waves-effect waves-light btn-flat" (click)="closeDeleteStickyNoteModal()">Cancel</a>
  </div>
</div>
<div id="editGroupNameModal" materialize="modal" [materializeParams]="[{dismissible: false}]" class="modal modal-fixed-footer white">
  <div class="modal-content" *ngIf="newGroup">
    <h4>Edit Group</h4>
    <form materialize>
      <div class="row">
        <div class="s12 input-field">
          <input placeholder="{{newGroup.name}}" id="groupName" type="text" [(ngModel)]="newGroup.name" name="groupName">
          <label for="groupName">Name</label>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <a class="waves-effect waves-light btn-flat" (click)="editGroupName()">Edit</a>
    <a class="waves-effect waves-light btn-flat" (click)="closeEditGroupNameModal()">Cancel</a>
  </div>
</div>