<div class="navbar-fixed">
  <nav>
    <div class="whiteboard-control light-blue lighten-2 nav-wrapper">
      <span>
        <a class="breadcrumb">My Whiteboards</a>
      </span>
      <ul class="right">
        <li><a class="waves-effect waves-light" (click)="openCreateWhiteboardModal()"><i class="material-icons">add</i></a></li>
      </ul>
    </div>
  </nav>
</div>
<div class="row">
  <div class="col s12 m6 l3" *ngFor="let whiteboard of whiteboards">
    <div class="card">
      <div class="card-content">
        <div class="right-align" *ngIf="whiteboard.description === 'owner'">
          <a class="waves-effect waves-light" *ngIf="whiteboard.locked === 0"><i class="material-icons light-blue-text text-lighten-2">lock_open</i></a>
          <a class="waves-effect waves-light" *ngIf="whiteboard.locked === 1"><i class="material-icons light-blue-text text-lighten-2">lock_outline</i></a>
          <a class="waves-effect waves-light" (click)="openEditWhiteboardModal(whiteboard)"><i class="material-icons light-blue-text text-lighten-2">settings</i></a>
          <a class="waves-effect waves-light" (click)="deleteWhiteboard(whiteboard.idWhiteBoard,1)"><i class="material-icons light-blue-text text-lighten-2">delete</i></a>
        </div>
        <div class="right-align" *ngIf="whiteboard.description !== 'owner'">
          <a class="waves-effect waves-light"><i class="material-icons light-blue-text text-lighten-2">clear</i></a>
        </div>
        <p>{{whiteboard.boardName}}</p>
        <p>Owner: {{whiteboard.fullName}}</p>
      </div>
      <div class="card-action">
        <a class="orange-text text-darken-2" routerLink="/whiteboard/{{whiteboard.idWhiteBoard}}">Open Whiteboard</a>
      </div>
    </div>
  </div>
</div>
<div id="createWhiteboardModal" materialize="modal" [materializeParams]="[{dismissible: false}]" class="modal modal-fixed-footer white">
  <div class="modal-content">
    <h4>Create Whiteboard</h4>
    <form materialize class="col s12">
      <div class="row">
        <div class="col s12 input-field">
          <input id="whiteboardName" type="text" [(ngModel)]="newWhiteboard.boardName" name="whiteboardName">
          <label for="whiteboardName">Name</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <ul id="createWhiteboardTabs" class="tabs">
            <li class="tab col"><a class="blue-text" href="#tabStickyNote">Sticky Notes</a></li>
            <li class="tab col"><a class="blue-text" href="#tabGroups">Groups</a></li>
            <li class="tab col"><a class="blue-text" href="#tabMembers">Members</a></li>
          </ul>
        </div>
        <div id="tabStickyNote" class="col s12">
          <div class="right-align">
            <a class="waves-effect waves-light light-blue lighten-2 btn" (click)="addParameter()"><i class="material-icons left">add</i>Add Parameter</a>
          </div>
          <ul class="collection" *ngFor="let parameter of newWhiteboard.parameters; let i = index">
            <li class="collection-item valign-wrapper">
              <div class="col s11">
                <input id="parameterName{{i}}" type="text" [(ngModel)]="newWhiteboard.parameters[i].value" name="parameterName{{i}}">
              </div>
              <a class="secondary-content col waves-effect waves-light"><i class="material-icons light-blue-text text-lighten-2" (click)="deleteParameter(i)">delete</i></a>
            </li>
          </ul>
        </div>
        <div id="tabGroups" class="col s12">
          <div class="right-align">
            <a class="waves-effect waves-light light-blue lighten-2 btn" (click)="addGroup()"><i class="material-icons left">add</i>Add Group</a>
          </div>
          <ul class="collection" *ngFor="let group of newWhiteboard.groups; let i = index">
            <li class="collection-item valign-wrapper">
              <div class="col s11">
                <input id="groupName{{i}}" type="text" [(ngModel)]="newWhiteboard.groups[i].value" name="groupName{{i}}">
              </div>
              <a class="secondary-content col waves-effect waves-light"><i class="material-icons light-blue-text text-lighten-2" (click)="deleteGroup(i)">delete</i></a>
            </li>
          </ul>
        </div>
        <div id="tabMembers" class="col s12">Members (available soon)</div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <a class="waves-effect waves-light btn-flat" (click)="createWhiteboard()">Create</a>
    <a class="waves-effect waves-light btn-flat" (click)="closeCreateWhiteboardModal()">Cancel</a>
  </div>
</div>
<div id="editWhiteboardModal" materialize="modal" [materializeParams]="[{dismissible: false}]" class="modal modal-fixed-footer white">
  <div class="modal-content" *ngIf="newWhiteboard">
    <h4>Edit Whiteboard</h4>
    <form materialize>
      <div class="row">
        <div class="s12 input-field">
          <input placeholder="{{newWhiteboard.boardName}}" id="whiteboardName" type="text" [(ngModel)]="newWhiteboard.boardName" name="whiteboardName">
          <label for="whiteboardName">Name</label>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <a class="waves-effect waves-light btn-flat" (click)="editWhiteboard()">Edit</a>
    <a class="waves-effect waves-light btn-flat" (click)="closeEditWhiteboardModal()">Cancel</a>
  </div>
</div>