<div class="navbar-fixed">
  <nav>
    <div class="whiteboard-control light-blue lighten-2 nav-wrapper">
      <span>
        <a class="breadcrumb">My Whiteboards</a>
      </span>
      <ul class="right">
        <li><a><i class="material-icons">add</i></a></li>
      </ul>
    </div>
  </nav>
</div>
<div class="row">
  <div class="col s12 m6 l3" *ngFor="let whiteboard of whiteboards">
    <div class="card">
      <div class="card-content">
        <div class="right-align" *ngIf="whiteboard.owner.currentUser">
          <a><i class="material-icons">lock_open</i></a>
          <a><i class="material-icons">settings</i></a>
          <a><i class="material-icons">delete</i></a>
        </div>
        <div class="right-align" *ngIf="!whiteboard.owner.currentUser">
          <a><i class="material-icons">clear</i></a>
        </div>
        <p>{{whiteboard.name}}</p>
        <p>Owner: {{whiteboard.owner.name}}</p>
      </div>
      <div class="card-action">
        <a routerLink="/whiteboard/{{whiteboard.id}}">Open Whiteboard</a>
      </div>
    </div>
  </div>
</div>