<div class="navbar-fixed">
  <nav>
    <div class="whiteboard-control light-blue lighten-2 nav-wrapper">
      <span>
        <a class="breadcrumb">My Whiteboards</a>
      </span>
      <ul class="right">
        <li><a><a class="material-icons">add</a></a></li>
      </ul>
    </div>
  </nav>
</div>
<div class="row">
  <div class="col s12 m6 l3">
    <div class="card">
      <div class="card-content">
        <div class="right-align">
          <a class="material-icons">lock_open</a>
          <a class="material-icons">settings</a>
          <a class="material-icons">delete</a>
        </div>
        <p>LES 2016 - Team A</p>
        <p>Owner: Marco Rodrigues</p>
      </div>
      <div class="card-action">
        <a routerLink="/whiteboard/1">Open Whiteboard</a>
      </div>
    </div>
  </div>
  <div class="col s12 m6 l3">
    <div class="card">
      <div class="card-content">
        <div class="right-align">
          <a class="material-icons">clear</a>
        </div>
        <p>MESW</p>
        <p>Owner: Ana Paiva</p>
      </div>
      <div class="card-action">
        <a routerLink="/whiteboard/2">Open Whiteboard</a>
      </div>
    </div>
  </div>
</div>